/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: med; src: url("fonts/dinpro-medium.eot"); src: url("fonts/dinpro-medium.eot?#iefix") format("embedded-opentype"), url("fonts/dinpro-medium.woff") format("woff"), url("fonts/dinpro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bold; src: url("fonts/dinpro-bold.eot"); src: url("fonts/dinpro-bold.eot?#iefix") format("embedded-opentype"), url("fonts/dinpro-bold.woff") format("woff"), url("fonts/dinpro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: light; src: url("fonts/dinpro-light.eot"); src: url("fonts/dinpro-light.eot?#iefix") format("embedded-opentype"), url("fonts/dinpro-light.woff") format("woff"), url("fonts/dinpro-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "med", arial, sans-serif; font-size: 14px; font-family: Arial, sans-serif; line-height: 1.4; color: #2d2b31; }

a { text-decoration: none; }

.container { width: 1366px; margin: 0 auto; }

.title { margin-bottom: 25px; font-family: "bold", arial, sans-serif; text-transform: uppercase; font-size: 18px; }
.title a { color: #2d2b31; }
.title span { color: #ed1c24; }

.top { position: fixed; top: 0; left: 0; right: 0; background: white; z-index: 100; }

.top__in { position: relative; max-width: 1600px; min-width: 1000px; height: 100px; margin: 0 auto; }

.top__content { padding: 0 185px 0 345px; }

.logo { position: absolute; top: 18px; left: 40px; background: url('../img/icons-s7642e436f6.png') 0 -166px no-repeat; width: 178px; height: 64px; font: 0/0 a; text-shadow: none; color: transparent; }

.top__up { height: 47px; border-bottom: 1px dotted #cccccc; }

.top__links { float: right; }
.top__links li { float: left; margin-left: 20px; }
.top__links li:first-child { margin: 0; }
.top__links li.is-active a { background: #2d2b31; color: white; }
.top__links a { display: block; height: 42px; padding: 0 20px; line-height: 46px; font-size: 12px; color: #999999; }

.my-region, .my-region__title, .my-region__city { float: left; height: 47px; line-height: 46px; font-size: 12px; }

.my-region__title { margin-right: 10px; color: #999999; }

.top__down { height: 52px; }

.nav { float: left; }
.nav > ul { float: left; }
.nav > ul > li { float: left; margin-left: 60px; }
.nav > ul > li:first-child { margin: 0; }
.nav > ul > li > a { position: relative; display: block; height: 52px; padding: 0 30px 0 0; line-height: 52px; font-size: 16px; color: #2d2b31; }
.nav > ul > li > a i { position: absolute; top: 23px; right: 10px; background: url('../img/icons-s7642e436f6.png') 0 -984px no-repeat; width: 9px; height: 5px; }

.my-mts-link { float: right; }
.my-mts-link a { position: relative; display: block; height: 48px; padding: 0 0 0 27px; border-bottom: 4px solid #ed1c24; line-height: 52px; font-size: 16px; color: #2d2b31; }
.my-mts-link span { color: #ed1c24; }
.my-mts-link i { position: absolute; top: 19px; left: 0; background: url('../img/icons-s7642e436f6.png') 0 -777px no-repeat; width: 15px; height: 12px; }

.lang { position: absolute; top: 40px; right: 40px; }
.lang a { display: inline-block; font-size: 12px; color: #999999; }
.lang a:first-child { margin-right: 15px; }
.lang a.is-active { color: #ed1c24; }

.top__search { position: absolute; top: 35px; right: 115px; }

.top__search-btn { width: 28px; height: 28px; border-radius: 50%; border: 2px solid #bab9b9; background: none; font-size: 0; }
.top__search-btn i { display: inline-block; background: url('../img/icons-s7642e436f6.png') 0 -799px no-repeat; width: 13px; height: 13px; }

.btn { position: relative; display: inline-block; padding-right: 16px; overflow: hidden; }
.btn:hover .btn__over { left: 0; opacity: 1; }

.btn__in { position: relative; display: block; }

.btn__under, .btn__over { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #f4b42b; z-index: 1; }

.btn__under:after { content: ""; position: absolute; top: 0; right: -16px; width: 0px; height: 0px; border-style: solid; border-width: 25px 0 25px 16px; border-color: transparent transparent transparent #f4b42b; }

.btn__text { position: relative; display: block; height: 50px; padding: 0 40px; line-height: 50px; font-family: "bold", arial, sans-serif; font-size: 14px; text-transform: uppercase; color: white; z-index: 3; }

.btn__over { left: -100%; background: #2d2b31; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; opacity: 0; z-index: 2; }
.btn__over:after { content: ""; position: absolute; top: 0; right: -16px; width: 0px; height: 0px; border-style: solid; border-width: 25px 0 25px 16px; border-color: transparent transparent transparent #2d2b31; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.m-slider { position: relative; }

.m-slider__pic { position: absolute; top: 100px; left: 0; right: 0; bottom: 0; }

.m-slider__pic-item { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.m-slider__container { position: absolute; top: 100px; left: 50%; bottom: 0; width: 1600px; margin-left: -800px; }

.m-slider__content { position: absolute; left: 40px; bottom: 115px; width: 550px; }

.m-slider__title { margin-bottom: 10px; font-family: "bold", arial, sans-serif; font-size: 70px; color: white; line-height: 1; text-transform: uppercase; }

.m-slider__text { margin-bottom: 25px; font-size: 16px; color: white; }
.m-slider__text a { color: #f4b42b; }

.m-slider__pager { position: absolute; left: 40px; bottom: 45px; font-size: 0; }
.m-slider__pager a { display: inline-block; width: 7px; height: 7px; margin-right: 5px; border: 2px solid white; background: white; border-radius: 50%; }
.m-slider__pager a.is-active { background: none; }

.m-slider__service { position: absolute; right: 40px; bottom: 200px; width: 180px; font-size: 0; }
.m-slider__service a { display: block; margin-top: 25px; }
.m-slider__service em, .m-slider__service span, .m-slider__service i { display: inline-block; vertical-align: middle; }
.m-slider__service em { width: 66px; height: 66px; margin-right: 20px; background: rgba(0, 0, 0, 0.1); border-radius: 50%; border: 2px solid white; line-height: 70px; text-align: center; vertical-align: middle; }
.m-slider__service span { width: 85px; font-size: 14px; color: white; text-transform: uppercase; }

.m-slider__service-account { background: url('../img/icons-s7642e436f6.png') 0 -348px no-repeat; width: 32px; height: 24px; }

.m-slider__service-sms { background: url('../img/icons-s7642e436f6.png') 0 -555px no-repeat; width: 33px; height: 21px; }

.m-slider__my-mts { position: absolute; right: 0; bottom: 110px; }
.m-slider__my-mts a { display: block; width: 220px; height: 65px; background: #ed1c24; line-height: 65px; text-align: center; font-family: "light", arial, sans-serif; font-size: 30px; color: white; text-transform: uppercase; }

.m-slider__prev, .m-slider__next { position: absolute; bottom: 33px; }

.m-slider__next { right: 40px; background: url('../img/icons-s7642e436f6.png') 0 -822px no-repeat; width: 20px; height: 37px; }

.m-slider__prev { right: 89px; background: url('../img/icons-s7642e436f6.png') 0 -869px no-repeat; width: 20px; height: 37px; }

.m-serv { padding: 35px 40px 30px; font-size: 0; }

.m-serv__item { position: relative; display: inline-block; width: 48%; padding-left: 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }
.m-serv__item:first-child { margin-right: 4%; }

.m-serv__title { position: absolute; top: 0; left: 0; width: 35px; height: 100px; }
.m-serv__title span { display: block; width: 100px; height: 30px; margin: 35px 0 0 -35px; text-align: center; -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; font-family: "bold", arial, sans-serif; font-size: 18px; text-transform: uppercase; }

.m-serv__list { display: table; width: 100%; }

.m-serv__row { display: table-row; }
.m-serv__row a { display: table-cell; width: 33%; height: 100px; padding: 0 10px 0 15px; border-right: 1px dotted #2d2b31; vertical-align: middle; }
.m-serv__row a:first-child { border-left: 1px dotted #2d2b31; }
.m-serv__row i, .m-serv__row span { display: inline-block; vertical-align: middle; }
.m-serv__row i { margin-right: 15px; }
.m-serv__row span { font-size: 14px; color: #2d2b31; }

.m-serv__mobile { background: url('../img/icons-s7642e436f6.png') 0 -586px no-repeat; width: 44px; height: 50px; }

.m-serv__laptop { background: url('../img/icons-s7642e436f6.png') 0 -701px no-repeat; width: 71px; height: 42px; }

.m-serv__pc { background: url('../img/icons-s7642e436f6.png') 0 -499px no-repeat; width: 57px; height: 46px; }

.m-serv__tariff { background: url('../img/icons-s7642e436f6.png') 0 -437px no-repeat; width: 26px; height: 52px; }

.m-serv__rouming { background: url('../img/icons-s7642e436f6.png') 0 -646px no-repeat; width: 54px; height: 45px; }

.m-serv__programm { background: url('../img/icons-s7642e436f6.png') 0 -382px no-repeat; width: 39px; height: 45px; }

.m-serv__item-client a { border-color: #ed1c24; }
.m-serv__item-client a:first-child { border-color: #ed1c24; }
.m-serv__item-client span { color: #ed1c24; }

.m-info { padding: 35px 0 50px; margin-bottom: 40px; background: #f4f4f4; }
.m-info .container { *zoom: 1; }
.m-info .container:after { content: " "; display: table; clear: both; }

.m-news { float: left; width: 64%; }

.m-news__list { *zoom: 1; }
.m-news__list:after { content: " "; display: table; clear: both; }

.m-news__item { position: relative; float: left; width: 48%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 120px; }
.m-news__item:first-child { margin-right: 4%; }

.m-news__date { position: absolute; top: 0; left: 0; }
.m-news__date span, .m-news__date i { float: left; margin-right: -5px; font-family: "light", arial, sans-serif; font-size: 48px; letter-spacing: -3px; line-height: 1; }
.m-news__date i { margin-top: 15px; color: #ed1c24; font-style: normal; }
.m-news__date i + span { margin-top: 35px; }

.m-news__title { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dotted #2d2b31; }
.m-news__title a { font-family: "bold", arial, sans-serif; font-size: 14px; text-transform: uppercase; color: #2d2b31; }

.m-section { float: right; width: 32%; }

.m-section__list { *zoom: 1; }
.m-section__list:after { content: " "; display: table; clear: both; }
.m-section__list ul { float: left; width: 45%; margin-right: 5%; }
.m-section__list li { margin-top: 12px; }
.m-section__list li:first-child { margin: 0; }
.m-section__list a { font-family: "bold", arial, sans-serif; text-transform: uppercase; color: #2d2b31; }
.m-section__list span { color: #ed1c24; }

.m-more { margin-bottom: 40px; *zoom: 1; }
.m-more:after { content: " "; display: table; clear: both; }

.m-sim, .m-action, .m-help { float: left; width: 31%; min-height: 140px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.m-sim, .m-action { margin-right: 3%; }

.m-sim { position: relative; background: #ed1c24; }
.m-sim i { position: absolute; top: 30px; left: 30px; background: url('../img/icons-s7642e436f6.png') 0 -300px no-repeat; width: 48px; height: 38px; }

.m-action { background: #f4f4f4; }
